/**
 * @file index.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * runtime less入口文件
 **/

initialize()

@require 'src/styl/animation';
@require 'src/styl/layout';

@require 'src/styl/slide1';
@require 'src/styl/slide2';
@require 'src/styl/slide3';