/**
 * @file layout.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * 全局样式
 **/

.rt-loading
    background-color: rgba(0, 0, 0, 0.1)
    z-index: 1000
    fixed: 0 0 0 0
    .icon
        width: 25px
        height: 25px
        background: url('http://bs.baidu.com/weigou-baidu-com/71a7bc8d1ae130851ab858597447a6c3.png') no-repeat
        background-size: 25px 25px
        margin: rem(220) auto
        animation: rt-rotate 1s linear infinite

.rt-config,
.rt-slides
    display: none

.rt-slides
    fixed: 0 0 0 0
    .rt-slides-inner
        absolute: 0 _ _ 0
        width: rem(320)
        transition: all 500ms ease
    .rt-slide,
    .rt-slide-real
        overflow: hidden
        width: rem(320)
        height: rem(480)

.rt-background-music
    fixed: 60% rem(5) _ _
    height: rem(40)
    width: rem(40)
    display: none

    .music-animation
        width: rem(40)
        height: rem(40)
        position: absolute
        background: rgba(0, 0, 0, 0.5)
        border-radius: 50%
        overflow: hidden
        span
            display: inline-block
            width: rem(5)
            height: rem(10)
            background: rgba(255, 255, 255, 0.8)
            absolute: _ _ rem(5) _

.drop-icon
    width: rem(32)
    height: rem(32)
    z-index 100000
    &.drop-up-icon
        animation: drop-up 1.2s infinite alternate
        position: fixed
        bottom: rem(5)
        left: 50%
        margin-left: rem(-16)
        background: url('http://bs.baidu.com/weigou-baidu-com/maliang/runtime/iconfont-up-91afe69f.png')
        background-size: 100% 100%
    &.drop-left-icon
        animation: drop-left 1.2s infinite alternate
        fixed: 50% rem(5) _ _
        margin-top: rem(-16)
        background: url('http://bs.baidu.com/weigou-baidu-com/maliang/runtime/iconfont-drop-left-1bb2bd8f.png')
        background-size: 100% 100%

.wx-cover
    width: 0
    height: 0
    overflow: hidden
    position: relative
    z-index: -100