/**
 * @file slide4.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * 末页
 **/

.slide-4
    background: url('http://bs.baidu.com/weigou-baidu-com/wangyisheng/bg2.jpg') no-repeat
    background-size: 100%
    overflow: hidden
    position: relative
    color: white
    
    h2
        font-size: rem(24)
        text-align: center
        margin-top: rem(50)
        
    .stuff
        margin: rem(20) rem(10)
        
        td, th
            padding: rem(5)
            font-size: rem(14)
            vertical-align: top
            line-height: rem(18)
            
        .role
            text-align: right
            width: rem(100)
        
        th
            text-align: center
            width: rem(30)

    .hint
        margin: rem(20)
        text-align: center
        
        .strong
            font-size: rem(16)
            font-weight: bold
            line-height: rem(20)
            
        p
            margin: rem(5)
            font-size: rem(12)
            line-height: rem(18)
    
    .feedback
        margin-top: rem(20)
        text-align: center
        display: block
        &,&:hover
            color: white
        
