/**
 * @file slide1.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * 第一张样式
 **/

.slide-1
    background: url('http://m.web.7192.com/diy/css/eic/27/bg1.jpg') no-repeat
    background-size: 100%
    overflow: hidden
    position: relative

    .back
        background: url('http://m.web.7192.com/diy/css/eic/27/cover.png') no-repeat
        background-size: 100%
        size: rem(250) rem(281)
        margin: rem(20) auto
        opacity: 0

    .name-wrapper
        margin: rem(5) auto
        overflow: hidden
        width: rem(195)
        opacity: 0

        span
            color: #fff
            font-size: rem(14)
            line-height: rem(20)
            display: inline-block
            text-align: center
            float: left

        .heart
            background: url('http://m.web.7192.com/diy/css/eic/27/bai.png') no-repeat
            background-size: 100%
            size: rem(15) rem(15)
            margin: rem(2) rem(5)

    .date-wrapper
        size: rem(191) rem(60)
        overflow: hidden
        margin: rem(15) auto
        opacity: 0

        div
            float: left
            text-align: center
            color: #fff
            font-weight: bold

        .small
            size: rem(45) rem(35)
            margin: rem(10) rem(12) rem(18)
            line-height: rem(36)
            font-size: rem(12)
            background: url('http://m.web.7192.com/diy/css/eic/27/tit_bg.png') no-repeat
            background-size: 100%

        .big
            size: rem(53) rem(60)
            line-height: rem(48)
            font-size: rem(24)
            background: url('http://m.web.7192.com/diy/css/eic/27/flag.png') no-repeat
            background-size: 100%

    .snow
        absolute: rem(-20) _ _ _

    .snow-1
        size: rem(20) rem(20)
        background: url('http://m.7192.com/static/zq/img/snow1.png') no-repeat
        background-size: 100%
        
    .snow-2
        size: rem(12) rem(12)
        background: url('http://m.7192.com/static/zq/img/snow2.png') no-repeat
        background-size: 100%

    .snow-3
        size: rem(10) rem(10)
        background: url('http://m.7192.com/static/zq/img/snow3.png') no-repeat
        background-size: 100%

    .snow-4
        size: rem(20) rem(20)
        background: url('http://m.7192.com/static/zq/img/snow4.png') no-repeat
        background-size: 100%