/**
 * @file slide3.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * 结婚照图册
 **/

.slide-3
    position: relative
    .rt-slide-real
        width: rem(1600)
        absolute: 0 _ _ 0
        overflow: hidden
        transition: all 0.5s ease-in-out
        
        .our-story
            size: rem(157) rem(162)
            fixed: 50% 50%
            margin: rem(-78) rem(-81)
            opacity: 0
        
        .photo,
        .photo img
            size: rem(320) rem(480)
        
        .photo
            float: left
            

@keyframes out-story
    from
        transform: rotate(0) scale(0.5)
        opacity: 0
    20%, 80%
        transform: rotate(360deg) scale(1)
        opacity: 1
    to
        transform: rotate(0) scale(0.5)
        opacity: 0