/**
 * @file slide2.styl
 * @author wangyisheng@baidu.com (wangyisheng)
 * @description
 * 信息页样式
 **/

.slide-2
    background: url('http://bs.baidu.com/weigou-baidu-com/wangyisheng/bg2.jpg') no-repeat
    background-size: 100%
    overflow: hidden
    position: relative
    
    .back
        background: url('http://bs.baidu.com/weigou-baidu-com/wangyisheng/swing.png') no-repeat
        background-size: 100%
        size: rem(216) rem(80)
        margin: rem(54) auto 0
        
    .text
        margin-top: rem(10)
        text-align: center
        color: #fff
        
        h2
            height: rem(30)
            line-height: rem(30)
            font-size: rem(18)
            font-weight: bold
            
        .hint
            font-size: rem(12)
            margin-top: rem(15)
            
        p
            font-size: rem(16)
            line-height: rem(22)
            height: rem(22)
            margin-top: rem(8)
            
        .time
            width: rem(140)
            margin: rem(8) auto 0
            border-top: rem(1) solid #fff
            border-bottom: rem(1) solid #fff
        